POSTGRES_USER=torchmed
POSTGRES_PASSWORD=torchmed
POSTGRES_DB=torchmed

DATABASE_URL=postgres://torchmed:torchmed@postgres/torchmed
DJANGO_SECRET_KEY=@#WS$#ETRGHJ#33sdw()(KJNkhbdho22(@)(*aslksl2093)(*GHNM<_PL

