{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
        
          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

            <div class="bg-img bg-img-1"></div>

            <div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">{% trans "Software Development <br> for Doctors and Scientists" %}</h2>
                                <span class="animated fadeInDown">{% trans "Professional Development of Medical Software <br> and Algorithms to analyze medical information" %}</span>
                                <a href="#contact" class="btn btn-blue btn-effect">{% trans "Contact US" %}</a>
                            </div>
                        </div>
            
          </div>
          
          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
          
            <div class="bg-img bg-img-2"></div>
            <div class="slide-caption">
                            <div class="caption-content">
                                <h2>{% trans "Bioinformatics Analysis" %}</h2>
                                <span>{% trans "Human Genome and Exome Analysis <br> Diagnosis of Human Diseases such as Cancer and Mendelian Disorders" %}</span>
                                <a href="#contact" class="btn btn-blue btn-effect">{% trans "Contact US" %}</a>
                            </div>
                        </div>
            
          </div>
          
          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
            
            <div class="bg-img bg-img-3"></div>
            <div class="slide-caption">
                            <div class="caption-content">
                                <h2>{% trans "Online Services for Healthcare" %}</h2>
                                <span>{% trans "Development of online services for doctors and scientists" %}</span>
                                <a href="#contact" class="btn btn-blue btn-effect">{% trans "Contact US" %}</a>
                            </div>
                        </div>

          </div>

        </div><!-- /sl-slider -->

                <!-- 
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
                -->
                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
                

        <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
          <span class="nav-dot-current"></span>
          <span></span>
          <span></span>
        </nav>

      </div><!-- /slider-wrapper -->
    </section>
    
        <!--
        End Home SliderEnd
        ==================================== -->
      
      <!-- about section -->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-4 wow animated fadeInLeft">
              <div class="recent-works">
                <h3>{% trans "Recent Works" %}</h3>
                <div id="works">
                  <div class="work-item">
                    <p>{% trans "Mendel,MD - A software for diagnosing patients with Mendelian Disorders. <br> <br> We integrated  bleeding edge softwares, technologies and databases in order to provide the best up-to-date annotation for human genomes and exomes. We helped to solve hundreds of clinical cases." %}</p>
                  </div>
                  <div class="work-item">
                    <p>{% trans "Haplocyp - A software for identifying haplotype and defining drug dosage and enzimatic activity. <br><br> We use a FASTA file as an input and align it against the reference gene using BLAST. After the alignment we identify variants and with this information we can predict the haplotype of each patient." %}</p>
                  </div>
                  <div class="work-item">
                    <p>{% trans "Biocloud - Online Services for Doctors and Scientists.<br><br> Here you can upload your FASTQ, BAM or VCF files. You can keep them stored safely very cheaply and perform analysis such as assembly, alignment and variant calling." %}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
              <div class="welcome-block">
                <h3>{% trans "Welcome To Our Site" %}</h3>                
                   <div class="message-body">
                  <img src="{% static "img/member-1.jpg" %}" class="pull-left" alt="member">
                      <p>{% trans "Hello! My name is Raony Guimarães and I'm the CEO of TorchMed. After spending 5 years doing a PhD in Bioinformatics and more than 10 years working with Web Development I decided it was about time to gather all this knowledge and create a company that would focus on helping doctors and scientists with their daily activities with data analysis and to help improve the life of patients through the use of bleeding edge technologies. Please get in touch with us if you think there is anything we can do to help improve your life and business. Just one more thing: We Love Open Source!" %}</p>
                   </div>
                    <!-- <a href="#" class="btn btn-border btn-effect pull-right">Read More</a> -->
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end about section -->
      
      
      <!-- Service section -->
      <section id="service">
        <div class="container">
          <div class="row">
          
            <div class="sec-title text-center">
              <h2 class="wow animated bounceInLeft">{% trans "Service" %}</h2>
              <p class="wow animated bounceInRight">{% trans "The Key Features of our Job" %}</p>
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
              <div class="service-item">
                <div class="service-icon">
                  <i class="fa fa-home fa-3x"></i>
                </div>
                <h3>{% trans "Software Development" %}</h3>
                <p>{% trans "Native software development for MacOS, Windows and Linux and mobile software for Android, iOS and Windows Phone." %}</p>
              </div>
            </div>
          
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
              <div class="service-item">
                <div class="service-icon">
                  <i class="fa fa-tasks fa-3x"></i>
                </div>
                <h3>{% trans "Data Analysis" %}</h3>
                <p>{% trans "We use deep learning and machine learning algorithms to analyze your data. We create beautiful and meaningful visualizations." %}</p>
              </div>
            </div>
          
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
              <div class="service-item">
                <div class="service-icon">
                  <i class="fa fa-clock-o fa-3x"></i>
                </div>
                <h3>{% trans "Bioinformatics Analysis" %}</h3>
                <p>{% trans "Genome Sequencing, Alignment, Assembly, Variant Calling, Protein Simulations and Diagnosis of Human Diseases." %}</p>
              </div>
            </div>
          
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
              <div class="service-item">
                <div class="service-icon">
                  <i class="fa fa-heart fa-3x"></i>
                </div>
                
                <h3>{% trans "Web Development" %}</h3>
                <p>{% trans "Best online services for Doctors and Scientists. REST Framework API, Dashboards, E-mail Notifications and Payments Trasactions." %}</p>             
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- end Service section -->
      
      <!-- portfolio section -->
      <section id="portfolio">
        <div class="container">
          <div class="row">
          
            <div class="sec-title text-center wow animated fadeInDown">
              <h2>{% trans "FEATURED PROJECTS" %}</h2>
              <p>{% trans "Here you can find a list of the previous projects that we have developed." %}</p>
            </div>
            
            <ul class="project-wrapper wow animated fadeInUp">
              <li class="portfolio-item">
                <img src="{% static "img/portfolio/item.jpg" %}" class="img-responsive" alt="{% trans "Online Sofware for helping with the diagnosis of human Mendelian Disorders." %}">
                <figcaption class="mask">
                  <h3>Mendel,MD</h3>
                  <p>{% trans "Online Sofware for helping with the diagnosis of human Mendelian Disorders." %} </p>
                </figcaption>
                <ul class="external">
                  <li><a class="fancybox" title="Mendel,MD" data-fancybox-group="works" href="{% static "img/portfolio/item.jpg" %}"><i class="fa fa-search"></i></a></li>
                  <li><a href=""><i class="fa fa-link"></i></a></li>
                </ul>
              </li>
              
              <li class="portfolio-item">
                <img src="{% static "img/portfolio/item2.jpg" %}" class="img-responsive" alt="{% trans "Website with surveys for ranking doctors." %}">
                <figcaption class="mask">
                  <h3>{% trans "My Doctor" %}</h3>
                  <p>{% trans "Website with surveys for ranking doctors." %}</p>
                </figcaption>
                <ul class="external">
                  <li><a class="fancybox" title="{% trans "My Doctor" %}" href="{% static "img/portfolio/item2.jpg" %}" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
                  <li><a href=""><i class="fa fa-link"></i></a></li>
                </ul>
              </li>
              
              <li class="portfolio-item">
                <img src="{% static "img/portfolio/item3.jpg" %}" class="img-responsive" alt="{% trans "Haplotyping of alleles of gene CYP2D6 to define enzymatic activity and drug dosage." %} ">
                <figcaption class="mask">
                  <h3>HaploCYP</h3>
                  <p>{% trans "Haplotyping of alleles of gene CYP2D6 to define enzymatic activity and drug dosage." %}</p>
                </figcaption>
                <ul class="external">
                  <li><a class="fancybox" title="HaploCYP" data-fancybox-group="works" href="{% static "img/portfolio/item3.jpg" %}"><i class="fa fa-search"></i></a></li>
                  <li><a href=""><i class="fa fa-link"></i></a></li>
                </ul>
              </li>
              
              <li class="portfolio-item">
                <img src="{% static "img/portfolio/item4.jpg" %}" class="img-responsive" alt="{% trans "Automation of complicated tasks using simple and intuitive interfaces." %}">
                <figcaption class="mask">
                  <h3>1-Click</h3>
                  <p>{% trans "Automation of complicated tasks using simple and intuitive interfaces." %}</p>
                </figcaption>
                <ul class="external">
                  <li><a class="fancybox" title="1-Click" data-fancybox-group="works" href="{% static "img/portfolio/item4.jpg" %}"><i class="fa fa-search"></i></a></li>
                  <li><a href=""><i class="fa fa-link"></i></a></li>
                </ul>
              </li>
              
              <li class="portfolio-item">
                <img src="{% static "img/portfolio/item5.jpg" %}" class="img-responsive" alt="{% trans "You can manage your information using modern dashboards that allow you to see an overview of all the tasks available in the system." %} ">
                <figcaption class="mask">
                  <h3>Dashboards</h3>
                  <p>{% trans "You can manage your information using modern dashboards that allow you to see an overview of all the tasks available in the system." %} </p>
                </figcaption>
                <ul class="external">
                  <li><a class="fancybox" title="Dashboards" data-fancybox-group="works" href="{% static "img/portfolio/item5.jpg" %}"><i class="fa fa-search"></i></a></li>
                  <li><a href=""><i class="fa fa-link"></i></a></li>
                </ul>
              </li>
              
              <li class="portfolio-item">
                <img src="{% static "img/portfolio/item6.jpg" %}" class="img-responsive" alt="{% trans "Website to bring the most up to date information about medicine to patients." %} ">
                <figcaption class="mask">
                  <h3>{% trans "Future Medicine" %}</h3>
                  <p>{% trans "Website to bring the most up to date information about medicine to patients." %}</p>
                </figcaption>
                <ul class="external">
                  <li><a class="fancybox" title="{% trans "Future Medicine" %}" data-fancybox-group="works" href="{% static "img/portfolio/item6.jpg" %}"><i class="fa fa-search"></i></a></li>
                  <li><a href=""><i class="fa fa-link"></i></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- end portfolio section -->
      
      <!-- Testimonial section -->
      <!-- <section id="testimonials" class="parallax">
        <div class="overlay">
          <div class="container">
            <div class="row">
            
              <div class="sec-title text-center white wow animated fadeInDown">
                <h2>What people say</h2>
              </div>
              
              <div id="testimonial" class=" wow animated fadeInUp">
                <div class="testimonial-item text-center">
                  <img src="{% static "img/member-1.jpg" %}" alt="Our Clients">
                  <div class="clearfix">
                    <span>Katty Flower</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
                <div class="testimonial-item text-center">
                  <img src="{% static "img/member-1.jpg" %}" alt="Our Clients">
                  <div class="clearfix">
                    <span>Katty Flower</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
                <div class="testimonial-item text-center">
                  <img src="{% static "img/member-1.jpg" %}" alt="Our Clients">
                  <div class="clearfix">
                    <span>Katty Flower</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </section> -->
      <!-- end Testimonial section -->
      
      <!-- Price section -->
      <!-- <section id="price">
        <div class="container">
          <div class="row">
          
            <div class="sec-title text-center wow animated fadeInDown">
              <h2>Price</h2>
              <p>Our price for your company</p>
            </div>
            
            <div class="col-md-4 wow animated fadeInUp">
              <div class="price-table text-center">
                <span>Silver</span>
                <div class="value">
                  <span>$</span>
                  <span>24,35</span><br>
                  <span>month</span>
                </div>
                <ul>
                  <li>No Bonus Points</li>
                  <li>No Bonus Points</li>
                  <li>No Bonus Points</li>
                  <li>No Bonus Points</li>
                  <li><a href="#">sign up</a></li>
                </ul>
              </div>
            </div>
            
            <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
              <div class="price-table featured text-center">
                <span>Gold</span>
                <div class="value">
                  <span>$</span>
                  <span>50,00</span><br>
                  <span>month</span>
                </div>
                <ul>
                  <li>Free Trial</li>
                  <li>Free Trial</li>
                  <li>Free Trial</li>
                  <li>Free Trial</li>
                  <li><a href="#">sign up</a></li>
                </ul>
              </div>
            </div>
            
            <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
              <div class="price-table text-center">
                <span>Diamond</span>
                <div class="value">
                  <span>$</span>
                  <span>123,12</span><br>
                  <span>month</span>
                </div>
                <ul>
                  <li>All Bonus Points</li>
                  <li>All Bonus Points</li>
                  <li>All Bonus Points</li>
                  <li>All Bonus Points</li>
                  <li><a href="#">sign up</a></li>
                </ul>
              </div>
            </div>
    
          </div>
        </div>
      </section> -->
      <!-- end Price section -->
      
      <!-- Social section -->
      <section id="social" class="parallax">
        <div class="overlay">
          <div class="container">
            <div class="row">
            
              <div class="sec-title text-center white wow animated fadeInDown">
                <h2>{% trans "FOLLOW US" %}</h2>
                <p>{% trans "Please support us in our social media!" %}</p>
              </div>
              
              <ul class="social-button">
                <li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
                <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>             
              </ul>
              
            </div>
          </div>
        </div>
      </section>
      <!-- end Social section -->
      
      <!-- Contact section -->
      <section id="contact" >
        <div class="container">
          <div class="row">
            
            <div class="sec-title text-center wow animated fadeInDown">
              <h2>{% trans "Contact US" %}</h2>
              <p>{% trans "Leave a Message and we will get in contact with you" %}</p>
            </div>
            
            
            <div class="col-md-7 contact-form wow animated fadeInLeft">
              <form action='/contact/email/' method="post">{% csrf_token %}
                <div class="input-field">
                  <input type="text" name="name" class="form-control" placeholder="{% trans "Your Name..." %}">
                </div>
                <div class="input-field">
                  <input type="email" name="email" class="form-control" placeholder="{% trans "Your Email..." %}">
                </div>
                <div class="input-field">
                  <input type="text" name="subject" class="form-control" placeholder="{% trans "Subject..." %}">
                </div>
                <div class="input-field">
                  <textarea name="message" class="form-control" placeholder="{% trans "Message..." %}"></textarea>
                </div>
                    <button type="submit" id="submit" class="btn btn-blue btn-effect">{% trans "Send" %}</button>
              </form>
            </div>
            
            <div class="col-md-5 wow animated fadeInRight">
              <address class="contact-details">
                <h3>Contact Us</h3>           
                <p><i class="fa fa-pencil"></i>TorchMed<span>{% trans "Warsaw, Masovian" %}</span><span>{% trans "Poland" %}</span></p><br>
                <p><i class="fa fa-phone"></i>{% trans "Phone" %}: (+48) 722 148 478 </p>
                <p><i class="fa fa-envelope"></i>{% trans "contact@torchmed.com" %}</p>
              </address>
            </div>
      
          </div>
        </div>
      </section>
      <!-- end Contact section -->
      
      <section id="google-map">
        <div id="map-canvas" class="wow animated fadeInUp"></div>
      </section>
{% endblock %}