{% load i18n %}
{% load staticfiles %}

<form id="select_lang" action="{% url 'set_language' %}" method="post" style="display:none;">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language" id="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>

<li><a id="lang_pt" href="#"><img src="{% static "img/flags/flag_icons/png/br.png" %}"></a></li>
<li><a id="lang_en" href="#"><img src="{% static "img/flags/flag_icons/png/gb.png" %}"></img></a></li>
<li><a id="lang_pl" href="#"><img src="{% static "img/flags/flag_icons/png/pl.png" %}"></img></a></li>
